header {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 128px;
}

.logoWrap {
  display: flex;
  gap: 8px;
  align-items: center;
}

.userMenu {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
