.btnWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.btnRegister {
  width: 166px;
  height: 48px;
  padding: 14px, 39px;
  background-color: #121417;
  color: var(--color-font-white);

  &:hover {
    color: var(--color-font-black);
    background-color: var(--color-primary);
  }
}
