.button {
  display: flex;
  outline: none;
  cursor: pointer;
}

.transparent {
  background-color: transparent;
}

.btnPrimary {
  background-color: var(--color-primary);

  &:hover {
    background-color: var(--color-secondary);
    animation: pulseShadow 2s infinite ease-in-out;
    box-shadow: 0 0 10px rgba(13, 110, 253, 0.6),
      0 0 20px rgba(13, 110, 253, 0.4), 0 0 30px rgba(13, 110, 253, 0.2);
    animation: pulseGlow 2s infinite ease-in-out;
  }
}

@keyframes pulseGlow {
  0% {
    box-shadow: 0 0 10px rgba(13, 110, 253, 0.6),
      0 0 20px rgba(13, 110, 253, 0.4), 0 0 30px rgba(13, 110, 253, 0.2);
  }
  50% {
    box-shadow: 0 0 20px rgba(13, 110, 253, 0.8),
      0 0 40px rgba(13, 110, 253, 0.6), 0 0 60px rgba(13, 110, 253, 0.4);
  }
  100% {
    box-shadow: 0 0 10px rgba(13, 110, 253, 0.6),
      0 0 20px rgba(13, 110, 253, 0.4), 0 0 30px rgba(13, 110, 253, 0.2);
  }
}
