.banner-span {
  background: var(--color-secondary);
  font-style: italic;
  font-weight: var(--fw-regular);
}

.banner-text {
  max-width: 471px;
  line-height: 1.375;
}

.btnHero {
  padding-block: 16px;
  padding-inline: 88px;
  width: 267px;
  height: 60px;
}
