.advantages {
  position: relative;
}

.list {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: 1fr;
  row-gap: 40px;
  grid-auto-rows: auto;
  align-items: center;
  justify-content: center;

  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: 1440px) {
    grid-template-columns: 217px 232px 159px 159px;
    align-items: flex-start;
    gap: 100px;
    height: 36px;
    margin-left: 1px;
  }
}

.item {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
}

.dashedBorder {
  position: absolute;
  stroke-width: 1.5;
  stroke-dasharray: 15 15;
  display: block;
  inset: 0;
  width: calc(100% - 1.5px);
  height: calc(100% - 1.5px);
  animation: dashAndColor 3s infinite linear;
  pointer-events: none;
}

svg.dashedBorder {
  width: calc(100% - 3px);
  height: calc(100% - 3px);
}

.dataH2 {
  white-space: nowrap;
}

.label {
  font-size: var(--fs-small);
  line-height: var(--lh-big);
  color: var(--color-label-banner);

  @media (min-width: 1440px) {
    white-space: wrap;
    max-width: 96px;
  }
}

@keyframes dashAndColor {
  0% {
    stroke-dashoffset: 0;
    stroke: var(--color-primary);
  }
  25% {
    stroke-dashoffset: -30;
    stroke: var(--color-secondary);
  }
  50% {
    stroke-dashoffset: -60;
    stroke: var(--color-primary);
  }
  75% {
    stroke-dashoffset: -90;
    stroke: var(--color-secondary);
  }
  100% {
    stroke-dashoffset: -120;
    stroke: var(--color-primary);
  }
}
