.hero {
  padding-bottom: 32px;
}

.hero-container {
  display: grid;
  gap: 24px;
  grid-template-areas:
    "banner"
    "img"
    "advantages";
  justify-items: center;

  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "banner img"
      "advantages advantages";
    padding: 0 64px;
  }
}

.banners {
  grid-area: banner;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  width: 288px;
  height: 530px;
  padding-left: 16px;
  padding-right: 16px;
  background-color: var(--bgcolor-banner);
  border-radius: var(--radius);

  @media (min-width: 425px) {
    width: 100%;
    gap: 32px;
  }

  @media (min-width: 1440px) {
    padding-block: 98px;
    max-width: 720px;
    padding-left: 64px;
    padding-right: 108px;
  }
}

.heroImg {
  grid-area: img;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 288px;
  height: 530px;
  opacity: 1;
  border-radius: var(--radius);
  background-color: var(--color-secondary);

  @media (min-width: 425px) {
    width: 100%;
  }

  @media (min-width: 1440px) {
    max-width: 568px;
    padding-left: 103.64px;
    padding-right: 104.64px;
  }
}

.advantages {
  position: relative;
  grid-area: advantages;
  padding: 16px;
  border-radius: var(--radius);
  position: relative;
  width: 288px;
  overflow: hidden;

  @media (min-width: 425px) {
    width: 100%;
  }

  @media (min-width: 1440px) {
    max-width: 1312px;
    padding: 40px 122px;
    height: 116px;
  }
}
