.authRequired {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding-block: 32px;
  width: 280px;
  text-align: center;

  @media (min-width: 768px) {
    gap: 40px;
    width: 460px;
  }
}

.authButtons {
  display: flex;
  gap: 20px;
}

.btnAuth {
  width: 120px;
  height: 46px;

  @media (min-width: 768px) {
    width: 220px;
    height: 60px;
  }
}
