form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  width: 280px;

  @media (min-width: 768px) {
    width: 438px;
  }
}

.titleFormWrap {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.titleForm {
  line-height: 1.2;
  color: var(--color-font-main);
  font-weight: var(--fw-semibold);

  @media (min-width: 768px) {
    font-size: 40px;
  }
}

.textForm {
  line-height: 1.375rem;
}

.fieldsWrap {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.inputWrap {
  display: flex;
  flex-direction: column;
  gap: 18px;
  width: 100%;
}

.inputWrapper {
  position: relative;
}

input {
  width: 100%;
  /* height: 54px; */
  padding: 16px 18px;
  border-radius: 12px;
  border: 1px solid var(--color-border-input);
}

.btnForm {
  width: 100%;
  max-width: 438px;
  height: 60px;
  font-size: var(--fs-big);
  background-color: var(--color-primary);

  &:disabled {
    background-color: #ccc;
    animation: none;
    box-shadow: none;
    cursor: not-allowed;
    opacity: 0.6;
  }

  &:disabled:hover {
    box-shadow: none;
  }
}

.errorMessage {
  position: absolute;
  font-size: var(--fs-small);
  bottom: -36px;
  left: 16px;
  color: var(--color-error);

  @media (min-width: 768px) {
    bottom: -24px;
  }
}

.radioWrap {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 22px;
}

.radioLabel {
  text-wrap: wrap;
}

.radioGroup {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 198px;
  /* height: 184px; */
}

input[type="radio"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  pointer-events: none;
}

.radioOption {
  display: flex;
  gap: 8px;
  align-items: center;
  font-weight: var(--fw-regular);
  line-height: 1.375;
  letter-spacing: 0;
}

.radioOption.error {
  color: var(--color-error);
}

.checked {
  fill: var(--color-primary);
  stroke: var(--color-primary);
}

.radio {
  stroke: #121417;
  stroke-opacity: 0.2;
}

.error {
  fill: var(--color-error);
  stroke: var(--color-error);
  stroke-opacity: 1;
  color: var(--color-error);
}
