.sectionFilters {
  padding: 96px 0 0;
}

.containerFilters {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-end;
  align-content: flex-end;
  gap: 50px;

  @media (min-width: 768px) {
    justify-content: flex-start;
  }
}

.filterWrap {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: start;
    width: 583px;
  }
}

.filterLang {
  width: 221px;
}

.filterLevel {
  width: 198px;
}

.filterPrice {
  width: 124px;
}

.btnClear {
  width: 220px;
  background-color: var(--color-font-main);
  align-items: center;
  height: 48px;
  color: red;
  margin: 0;
  align-self: flex-end;
}
