:root {
  --font-family: "Roboto", sans-serif;
  --background: #ffffff;
  --bgcolor-banner: #f8f8f8;
  --color-primary: #f4c550;
  --color-secondary: #fbe9ba;
  ----button-hover: #ffdc86;

  /* font-size */
  --fs-base: 1rem;
  --fs-small: 0.875rem;
  --fs-big: 1.125rem;

  /* line-height */
  --lh-base: 1.25;
  --lh-big: 1.286;
  --lh-middle: 1.143;
  --lh-small: 1, 11;
  --lh-second: 1.5;
  --ltsp-base: 2%;

  /* font-weight */
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;

  --fs-h1: 3rem;
  --fs-h2: 1.5rem;
  --fs-h3: 1.25rem;
  --lh-h1: 1.2;
  --lh-h2: 1.33;
  --lh-h3: 1.2;

  --color-font-main: #121417;
  --color-font-white: #ffffff;
  --color-font-second: #8a8a89;
  --color-font-thirty: #12141733;

  --radius: 1.875rem;
  --btn-radius: 1.33rem;

  font-family: var(--font-family);
  font-size: var(--fs-base);
  font-weight: var(--fw-medium);
  line-height: var(--lh-base);
  color: var(--color-font-main);

  font-weight: var(--fw-medium);
  font-style: Regular;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -2%;

  color-scheme: light dark;
  color: var(--color-font-main);
  background: var(--background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: var(--btn-radius);
  padding-block: 16px;
  padding-inline: 88px;
  width: 267px;
  height: 60px;
  font-size: 1em;
  font-weight: var(--fw-bold);
  font-family: inherit;
  background-color: var(--color-primary);
  transition: background-color 0.25s;
}

button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
/* 
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

h1 {
  font-size: var(--fs-h1);
  letter-spacing: calc(56 / 48);
}

h2 {
  font-size: var(--fs-h2);
  font-weight: var(--fw-medium);
  letter-spacing: 0;
  line-height: 0;
}

h1 {
  font-weight: 500;
  font-size: 48px;
  line-height: 1.16667;
  letter-spacing: -0.02em;
  color: #121417;
}
